{% embed 'partials/base.html.twig' %}

{% block content %}
	<section id="error">
		<div class="container section-pad" style="padding-top: 60px;">
			<h1>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
			<h2>
				{{ page.content }}
			</h2>
            <a class="btn btn-lg btn-primary "href="/">Go back</a>
		</div>
	</section>

{% endblock %}
{% endembed %}
