<footer class="footer">
  <div class="container section-pad">
    <div class="footer-logo">
      <img class="center-block" src="{{ url('theme://images/ClinTrialConnect.svg') }}" alt="ClinTrialConnect Logo" />
    </div>
    <div class="center-block text-center">
      <div class="btn-group login-btn-group" role="group" aria-label="Button Login Group">
        <a href="#" class="btn btn-sm btn-primary">Patient Login</a>
        <a href="#" class="btn btn-sm btn-default">Admin Login</a>
      </div>
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-list-item"><a href="#about">About</a></li>
        <li class="footer-nav-list-item"><a href="#features">Features</a></li>
        <li class="footer-nav-list-item"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="copyright">
    <div class="container">
      <p class="text-center">&copy;2016—ClinTrial, LLC  •  <a href="/privacy-policy">Privacy Policy</a></p>
    </div>
  </div>
</footer>